{% extends "inicio/inicio.html" %}
{% load static %} 
{% block content %} 

<div class="row">
    <div class="col-12 text-center letra-blanca">
        <h1>Eliminar</h1>
    </div>
</div>
<div class="container" style="margin-top: 1%;">
    <div class="row justify-content-end">
        <div class="col-6">
            <form method="get" action="{% url 'busqueda' %}" class="d-flex">
                <input class="form-control me-2" id="busqueda" name="busqueda" type="search" placeholder="Nombre del producto"  aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
              </form>
        </div>
        <div class="col-6 ">
            {%if alert == 1%}
            <div class="row justify-content-end">
                <div class="col-6 ">
                    <div class="alert {{name}} alert-dismissible fade show" role="alert">
                        {{mensaje}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            {%endif%} 
        </div>
    </div>
</div>
{%if alert == 2%}
<div class="container margen2"> 
    <form action="{% url 'borrarProducto' obj.id %}" method="get">

        <br>
        <div class="row">
            <div class="col-4 text-end " style="color: white">
                <h3>ID: </h3>
            </div>
            <div class="col-4">
                <input readonly class="form-control" id="id" name="id" type="text" value="{{obj.id}}" aria-label="default input example">
            </div>
        </div>    
        <div class="row">
            <div class="col-4 text-end " style="color: white">
                <h3>Nombre: </h3>
            </div>
            <div class="col-4">
                <input readonly class="form-control" id="nombre" name="nombre" type="text" value="{{obj.nombre}}" aria-label="default input example">
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-end " style="color: white">
                <h3>Precio: </h3>
            </div>
            <div class="col-4">
                <input readonly class="form-control" id="precio" name="precio" type="text" value="{{obj.precio}}" aria-label="default input example">
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-end " style="color: white">
                <h3>Stock: </h3>
            </div>
            <div class="col-4">
                <input readonly class="form-control" id="stock" name="stock" type="text" value="{{obj.stock}}" aria-label="default input example">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{%endif%} 




{% endblock %}